body {
  background-color: #0E1218;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 120px 2fr 1.5fr; 
  grid-template-rows: auto 1fr;          
  gap: 1.5rem;
  height: 100vh;
  padding: 1rem;
  align-items: stretch;
}

.dashboard-layout > .sidebar {
  grid-row: 1 / span 2;
}

.widgets {
  display: grid;
  grid-column: 2;
  gap: 1rem;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-content: start; 
  background-color: #40404685 ;
  border-radius: 20px;
  color: rgba(73, 73, 75, 0.329)
  linear-gradient(135deg, #c2c6cf, #5b616d);
}


.graph-container {
  max-width: 900px;  
  min-width: 600px;  
  background: linear-gradient(135deg, #1a1f2b, #10141c);
  border-radius: 12px;
  margin: auto;
  padding: 10px;
}

.widgets > div {
  flex: none;
  height: auto;
  background: linear-gradient(135deg, #1a1f2b, #10141c);
  padding: 0.75rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.graph-section {
  grid-column: 3;
  grid-row: 1;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #40404685 ;

}

.summary-section {
  grid-column: 2 / span 2;
  grid-row: 2;
  background: #1e2533;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  background-color: #40404685 ;

}

